MYSQL_ROOT_PASSWORD=your_root_password_here
MYSQL_DATABASE=smart_classroom

DB_HOST=db
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_db_password_here
DB_NAME=smart_classroom

AI_SERVICE_URL=http://ai-service:8000
BACKEND_SERVICE_URL=http://backend-service:8000
MATCH_THRESHOLD=0.60

TORCH_DEVICE=cpu

TIMETABLE_DB_HOST=db
TIMETABLE_DB_PORT=3306
TIMETABLE_DB_USER=root
TIMETABLE_DB_PASSWORD=your_timetable_db_password_here
TIMETABLE_DB_NAME=timetable_db